*{box-sizing: border-box}

body{
	background-color: #252A32;
	margin: auto;
}
#container{/*
	border-color: #FF9900;
	border-width:2px;
	border-style:dotted;
	overflow:visible;
	height:100%;*/
}
#header{
    padding: 14px 16px;
}
#header img{
    display: block;
}
#topnav{
	background-color: #3D4551;
	overflow: hidden;
}
#topnav div a{
	color: #FF9900;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#topnav div a:hover{
	color: white;
	background-color: #FF9900;
	font-weight: inherit;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#menu{
	float:left;
}
#searchbar{
	float: right;
	margin-right: 40px;
	height: 100%;
}
#searchbar input[name="search"]{
	height: 60%;
	width: 300px;
}
#searchbar input[name="submit"]{
	height: 60%;
}
#slidecontainer{
	position: relative;
	margin-top: 20px;
	/*width: 100%;*/
}
.slide{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 720px;
	height: 405px;
	border-width: 3px;
	border-color: #FF9900;
	border-style: solid;
}
.slidenews{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height: 100%;
	max-width: 100%;
	display: none;
}



#topnav div a i{
    border: solid #FF9900;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
#topnav div a i:hover{
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.down, .down:hover{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}













